
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/particles.js"></script>
 <script src="js/animation.js"></script>
    <script src="js/app.js"></script>
    <script src="js/stats.js"></script>
  </body>
  <footer id="footer">
    <div class="row">
      <div id="end">
    Created by Nikhil Mishra 2020
  </div>
  </div>
  </footer>
</html>