<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Clickfy</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" media="screen" href="css/style.css" />
    <link rel="stylesheet" media="screen" href="css/nav.css">
    <link rel="stylesheet" media="screen" href="css/typewritter.css">
    <link rel="stylesheet" type="text/css" href="css/animation.scss">
  </head>
  <body>
    