<%- include('partials/header'); -%>
<div class="major" style="background-image: url('images/5.jpg');">
  <div class="css-typing">
    <p>About Event</p>
  </div>
  <div class="all">
    <p class="about">
      Wiki Loves Monuments (WLM) is an annual international photographic
      competition held during the month of September, organised worldwide by
      Wikipedia community members with the help of local Wikimedia affiliates
      across the globe. Participants take pictures of local historical monuments
      and heritage sites in their region, and upload them to Wikimedia Commons.
      The aim of event is to highlight the heritage sites of the participating
      countries with the goal to encourage people to capture pictures of these
      monuments, and to put them under a free licence which can then be re-used
      not only in Wikipedia but everywhere by everyone. The first Wiki Loves
      Monuments competition was held in 2010 in the Netherlands as pilot
      project. The next year it spread to other countries in Europe and
      according to the Guinness Book of Records, the 2011 edition of the Wiki
      Loves Monuments broke the world record for the largest photography
      competition.[3] In 2012, the competition was extended beyond Europe, with
      a total of 35 participating countries. During Wiki Loves Monuments 2012,
      more than 350,000 photographs of historic monuments were uploaded by more
      than 15,000 participants. In 2013, the Wiki Loves Monuments competition
      was held across six continents including Antarctica and had official
      participation from more than fifty countries around the world. The 2016
      edition of WLM was supported by UNESCO and saw 10,700 contestants from 43
      countries who submitted 277,000 photos.
    </p>
    <br />
    <h1 class="Headlines">Rules</h1>
    <p class="about" style="color: yellow;">
      Participants are limited to three submission per person and the same photo
      cannot be submitted more than once. This competition is NOT open for
      participation by professional photographers. Current and former staff,
      consultants and interns of the UNCCD cannot participate in the
      competition.
    </p>
    <h1 class="Headlines">Deadline</h1>
    <p class="about" style="color: cadetblue;">
      The photos and registration forms have to be sent between May 1st and June
      22nd 2018. The deadline is June 22nd 2018 at 00:00 Bonn time (GMT +2). No
      registration form or photo will be accepted after this date. Warning!
      Deadline has been extended until 22nd of June 2018!
    </p>
  </div>
</div>
<%- include('partials/footer'); -%>
