<%- include('partials/header'); -%>

<div id="Contact" style="background-image: url('images/8.jpg');">
  <div class="css-typing">
    <p>Developer</p>
    <p>Nikhil Mishra</p>
    <p>Demo Site</p>
    <p>Linked In</p>
    <a
      class="element"
      href="https://www.linkedin.com/in/nikhil-mishra-a8796b175/"
      >Linked In</a
    >
    <p>Github</p>
    <a class="element" href="https://github.com/IEIrodov">Github</a>
  </div>
</div>

<%- include('partials/footer'); -%>
