<%- include('partials/header'); -%>

<div
  class="css-typing"
  id="Submission"
  style="background-image: url('images/7.jpg');"
>
  <p>Response</p>
  <p>Submitted</p>
  <button
    class="btn btn-lg btn-primary"
    style="margin: 5rem;"
    onclick="location.href='/'"
  >
    Home
  </button>
</div>

<%- include('partials/footer'); -%>
